@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
    height: 100%;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: aquamarine;

}

main {
    width: 100%;
    /*height: 400px;*/
}

h1 {
    display: block;
    font-size: 2.6em;
    font-family: "Open Sans Condensed";
}

.todoListBlock {
    display: block;
    /*margin: 0 auto;*/
    justify-content: center;
    font-size: 2.6em;
    font-family: "Open Sans Condensed";
    margin-right: 50px;
    margin-left: 50px;
    /*border: 1px solid gray;*/
    padding: 30px;
    background-color: #c7fcec;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    transition-duration: 1s;
}

.todoListBlockChecked {
    display: block;
    /*margin: 0 auto;*/
    font-size: 2.6em;
    font-family: "Open Sans Condensed";
    margin-right: 50px;
    margin-left: 50px;
    /*border: 1px solid gray;*/
    text-decoration: line-through;
    padding: 30px;
    background-color: #c7fcec;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    transition-duration: 1s;
}

.todoListBlock:hover {
    background-color: #00fa9a;
}

#submit {
    font-size: 1.3em;
    font-family: "Open Sans Condensed";
    border: 0;
    transition-duration: 0.7s;
}

#submit:hover {
    background-color: #00fa9a;
}

.todo {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 500px;
    background-color: aquamarine;
    /*border: 1px solid black;*/
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
}


.todo2 {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 520px;
    /*background-color: blue;*/
    z-index: 1;
    /*border: 1px solid black;*/
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
}


#input {
    width: 380px;
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 2.1em;
    font-family: "Open Sans Condensed";

}

#submit:active, #submit:focus {
    outline: none !important;
}

#block {
    display: block;
    flex-wrap: wrap;
    /*margin-top: 20px;*/
    margin-right: 10%;
    margin-left: 10%;
    padding-top: -100px !important;

}


.fa-pen {
    /*display: block;*/
    font-size: 1.6em;
    color: #888888;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 10px 10px 0;
    transition-duration: 1s;

}

.fa-pen:hover {
    color: #00fa9a
}

.fa-trash {
    /*display: ;*/
    font-size: 1.6em;
    color: #888888;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 0 10px 10px;
    transition-duration: 1s;
}

.fa-trash:hover {
    color: #00fa9a
}

.todoListInput {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: #969696;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}



.todoListContainer {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 1;
    border: 1px solid black;
    /*background-color: red;*/
    /*padding-bottom: 200px;*/
}

.todoListEditor {
    /*z-index: 1;*/
    display: block;
    position: relative;
    /*top:0;*/
    /*margin-top: 10px;*/
    /*min-height: 100px;*/
    margin: 20px auto;
    /*height: 50px;*/
    /*padding: 30px;*/
    width: 80%;
    padding: 10px;
    /*margin-left: -10px !important;*/
    /*margin-right: -25px !important;*/
    background-color: white;
    font-size: 0.6em;
    font-family: "Open Sans Condensed";
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    /*border: 0;*/

}


.todoListDone {
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 0.6em;
    font-family: "Open Sans Condensed";
    border-radius: 5px;
    border: 0;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    transition-duration: 1s;
}

.todoListDone:hover {

    background-color: #888888;
}