@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
    height: 100%;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: aquamarine;

}

main {
    width: 100%;
}

h1 {
    display: block;
    font-size: 2.6em;
    font-family: "Open Sans Condensed";
}

.todoListBlock {
    display: block;
    justify-content: center;
    font-size: 2.6em;
    font-family: "Open Sans Condensed";
    margin-right: 50px;
    margin-left: 50px;
    padding: 30px;
    background-color: #c7fcec;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    transition-duration: 1s;
}

.todoListBlockChecked {
    display: block;
    font-size: 2.6em;
    font-family: "Open Sans Condensed";
    margin-right: 50px;
    margin-left: 50px;
    text-decoration: line-through;
    padding: 30px;
    background-color: #c7fcec;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    transition-duration: 1s;
}

.todoListBlock:hover {
    background-color: #00fa9a;
}

#submit {
    font-size: 1.3em;
    font-family: "Open Sans Condensed";
    border: 0;
    transition-duration: 0.7s;
}

#submit:hover {
    background-color: #00fa9a;
}

.todo {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 500px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
}

#inputTask {
    width: 380px;
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 2.1em;
    font-family: "Open Sans Condensed";

}

#submit:active, #submit:focus {
    outline: none !important;
}

#taskContainer {
    display: block;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: -100px !important;

}

.fa-pen {
    font-size: 1.6em;
    color: #888888;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 10px 10px 0;
    transition-duration: 1s;

}

.fa-pen:hover {
    color: #00fa9a
}

.fa-trash {
    font-size: 1.6em;
    color: #888888;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 0 10px 10px;
    transition-duration: 1s;
}

.fa-trash:hover {
    color: #00fa9a
}

.todoListInput {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: #969696;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

.todoListContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 1;
    border: 1px solid black;
}

.todoListEditor {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    background-color: white;
    font-size: 0.6em;
    font-family: "Open Sans Condensed";
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);

}

.todoListDone {
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 0.6em;
    font-family: "Open Sans Condensed";
    border-radius: 5px;
    border: 0;
    box-shadow: 0.1em 0.1em 2px rgba(122, 122, 122, 0.5);
    transition-duration: 1s;
    text-decoration: none !important;
}

.todoListDone:hover {

    background-color: #888888;
}